/* ----------- BG Patterns ----------- */

.theme-patterns ul li {
  float: left;
  margin: 2px;
  padding: 0;
  color: #fff;
  list-style: none;
}
.theme-patterns ul li a.active-pattern {
  border: 1px solid #333;
}
.bg-patterns1{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/bg.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns2{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern2.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns3{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern3.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns4{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern4.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns5{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern5.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns6{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern6.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns7{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern7.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns8{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern8.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns9{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern9.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns10{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern10.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns11{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern11.png) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns12{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern1.png) no-repeat center top;
  float: left;
  cursor: pointer;
}


.bg-patterns13{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern-small-img1.jpg) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns14{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern-small-img2.jpg) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns15{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern-small-img3.jpg) no-repeat center top;
  float: left;
  cursor: pointer;
}
.bg-patterns16{
  width:40px;
  height:35px;
  background: #eee url(../images/elements/pattern-small-img4.jpg) no-repeat center top;
  float: left;
  cursor: pointer;
}